
<!-- Container for sidebar(s) + page content-->
<ng-sidebar-container>

  <!-- A sidebar -->
  <ng-sidebar #sidebar [(opened)]="_opened" position="left" mode="push">
    <p>Sidebar contents</p>
    <button (click)="sidebar.close()">Close sidebar</button>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content class="gdm">
    <dx-button text="cliikka" (click)="_toggleSidebar()">Toggle sidebar</dx-button>


      <div class="header">
          <p>Super Header</p>
      </div>


      <!--<div id="page">-->
          <!--<dx-responsive-box-->
                  <!--[(screenByWidth)]="screen">-->
              <!--<dxi-row [ratio]="1"></dxi-row>-->
              <!--<dxi-row [ratio]="1"></dxi-row>-->

              <!--<dxi-col [ratio]="1"></dxi-col>-->
              <!--<dxi-col [ratio]="1"></dxi-col>-->
              <!--<dxi-item>-->
                  <!--<dxi-location-->
                          <!--[row]="0"-->
                          <!--[col]="0"-->
                          <!--[colspan]="2"-->
                  <!--&gt;</dxi-location>-->
                  <!--<p>Header</p>-->
              <!--</dxi-item>-->
              <!--<dxi-item>-->
                  <!--<dxi-location-->
                          <!--[row]="1"-->
                          <!--[col]="0"-->
                          <!--[colspan]="1"-->
                  <!--&gt;</dxi-location>-->
                  <!--<p>Content1</p>-->
              <!--</dxi-item>-->
              <!--<dxi-item>-->
                  <!--<dxi-location-->
                          <!--[row]="1"-->
                          <!--[col]="1"-->
                          <!--[colspan]="1"-->
                  <!--&gt;</dxi-location>-->
                  <!--<p>Content2</p>-->
              <!--</dxi-item>-->
          <!--</dx-responsive-box>-->
      <!--</div>-->


      <div id="page">
      <dx-responsive-box
      [(screenByWidth)]="screen">
      <dxi-row [ratio]="1"></dxi-row>
      <dxi-row [ratio]="2" screen="xs"></dxi-row>
      <dxi-row [ratio]="2"></dxi-row>
      <dxi-row [ratio]="1"></dxi-row>

      <dxi-col [ratio]="1"></dxi-col>
      <dxi-col [ratio]="2" screen="lg"></dxi-col>
      <dxi-col [ratio]="1"></dxi-col>
      <dxi-item class="header item">
      <dxi-location
      [row]="0"
      [col]="0"
      [colspan]="3"
      screen="lg"
      ></dxi-location>
      <dxi-location
      [row]="0"
      [col]="0"
      [colspan]="2"
      screen="sm"
      ></dxi-location>

      <p>Header</p>
      </dxi-item>
      <dxi-item class="content item">
      <dxi-location
      [row]="1"
      [col]="1"
      screen="lg"
      ></dxi-location>
      <dxi-location
      [row]="1"
      [col]="0"
      [colspan]="2"
      screen="sm"
      ></dxi-location>
      <p>Content</p>
      </dxi-item>
      <dxi-item class="left-side-bar item">
      <dxi-location
      [row]="1"
      [col]="0"
      screen="lg"
      ></dxi-location>
      <dxi-location
      [row]="2"
      [col]="0"
      screen="sm"
      ></dxi-location>
      <p>Left Bar</p>
      </dxi-item>
      <dxi-item class="right-side-bar item">
      <dxi-location
      [row]="1"
      [col]="2"
      screen="lg"
      ></dxi-location>
      <dxi-location
      [row]="2"
      [col]="1"
      screen="sm"
      ></dxi-location>
      <p>Right Bar</p>
      </dxi-item>
      <dxi-item class="footer item">
      <dxi-location
      [row]="2"
      [col]="0"
      [colspan]="3"
      screen="lg"
      ></dxi-location>
      <dxi-location
      [row]="3"
      [col]="0"
      [colspan]="2"
      screen="sm"
      ></dxi-location>
      <p>Footer</p>
      </dxi-item>
      </dx-responsive-box>
      </div>

  </div>

</ng-sidebar-container>

<!--<div class="slideout-container">-->
  <!--<dx-slide-out-->
          <!--#slideout-->
          <!--[dataSource]="dataSource"-->
          <!--(onItemClick)="menuVisible = !menuVisible;"-->
          <!--[menuGrouped]="true"-->
          <!--[(menuVisible)]="menuVisible"-->
          <!--[swipeEnabled]="false"-->
  <!--&gt;-->
    <!--<div *dxTemplate="let gdm of 'item'">-->
      <!--<div>-->
        <!--<dx-button text="menu" (onClick)="click()"></dx-button>-->
      <!--</div>-->
      <!--&lt;!&ndash;<dx-toolbar [dataSource]="toolbarItems">&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<div *dxTemplate="let data of 'title'">&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<p>{{product.text}}</p>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;</dx-toolbar>&ndash;&gt;-->
    <!--</div>-->
    <!--<div id="page">-->
      <!--<dx-responsive-box-->
              <!--[(screenByWidth)]="screen">-->
        <!--<dxi-row [ratio]="1"></dxi-row>-->
        <!--<dxi-row [ratio]="2" screen="xs"></dxi-row>-->
        <!--<dxi-row [ratio]="2"></dxi-row>-->
        <!--<dxi-row [ratio]="1"></dxi-row>-->

        <!--<dxi-col [ratio]="1"></dxi-col>-->
        <!--<dxi-col [ratio]="2" screen="lg"></dxi-col>-->
        <!--<dxi-col [ratio]="1"></dxi-col>-->
        <!--<dxi-item class="header item">-->
          <!--<dxi-location-->
                  <!--[row]="0"-->
                  <!--[col]="0"-->
                  <!--[colspan]="3"-->
                  <!--screen="lg"-->
          <!--&gt;</dxi-location>-->
          <!--<dxi-location-->
                  <!--[row]="0"-->
                  <!--[col]="0"-->
                  <!--[colspan]="2"-->
                  <!--screen="sm"-->
          <!--&gt;</dxi-location>-->

          <!--<p>Header</p>-->
        <!--</dxi-item>-->
        <!--<dxi-item class="content item">-->
          <!--<dxi-location-->
                  <!--[row]="1"-->
                  <!--[col]="1"-->
                  <!--screen="lg"-->
          <!--&gt;</dxi-location>-->
          <!--<dxi-location-->
                  <!--[row]="1"-->
                  <!--[col]="0"-->
                  <!--[colspan]="2"-->
                  <!--screen="sm"-->
          <!--&gt;</dxi-location>-->
          <!--<p>Content</p>-->
        <!--</dxi-item>-->
        <!--<dxi-item class="left-side-bar item">-->
          <!--<dxi-location-->
                  <!--[row]="1"-->
                  <!--[col]="0"-->
                  <!--screen="lg"-->
          <!--&gt;</dxi-location>-->
          <!--<dxi-location-->
                  <!--[row]="2"-->
                  <!--[col]="0"-->
                  <!--screen="sm"-->
          <!--&gt;</dxi-location>-->
          <!--<p>Left Bar</p>-->
        <!--</dxi-item>-->
        <!--<dxi-item class="right-side-bar item">-->
          <!--<dxi-location-->
                  <!--[row]="1"-->
                  <!--[col]="2"-->
                  <!--screen="lg"-->
          <!--&gt;</dxi-location>-->
          <!--<dxi-location-->
                  <!--[row]="2"-->
                  <!--[col]="1"-->
                  <!--screen="sm"-->
          <!--&gt;</dxi-location>-->
          <!--<p>Right Bar</p>-->
        <!--</dxi-item>-->
        <!--<dxi-item class="footer item">-->
          <!--<dxi-location-->
                  <!--[row]="2"-->
                  <!--[col]="0"-->
                  <!--[colspan]="3"-->
                  <!--screen="lg"-->
          <!--&gt;</dxi-location>-->
          <!--<dxi-location-->
                  <!--[row]="3"-->
                  <!--[col]="0"-->
                  <!--[colspan]="2"-->
                  <!--screen="sm"-->
          <!--&gt;</dxi-location>-->
          <!--<p>Footer</p>-->
        <!--</dxi-item>-->
      <!--</dx-responsive-box>-->
    <!--</div>-->
  <!--</dx-slide-out>-->

<!--</div>-->


