<div class="conainer fluid">
  <dx-form
  [(formData)]="proc">
    <dxi-item itemType="group"> 
      <dxi-item dataField="idTipoProcedimento.nome" [label]="{text: 'Tipo procedimento'}" [editorOptions]="{ disabled: true }"></dxi-item>
      <!-- <dxi-item dataField="idAzienda.descrizione" [label]="{text: 'Azienda'}" [editorOptions]="{ disabled: true }"></dxi-item> -->
      <dxi-item dataField="descrizioneTipoProcedimento" [label]="{text: 'Descrizione'}" editorType="dxTextArea" [editorOptions]="{ disabled: false, height: 150 }" ></dxi-item>
    </dxi-item>

    <dxi-item itemType="group" [colCount]="12">
      <dxi-item dataField="durataMassimaIter" [colSpan]="6" [label]="{text: 'Durata massima dell\'iter'}" [editorOptions]="{ disabled: false}"></dxi-item>
      <dxi-item dataField="durataMassimaSospensione" [colSpan]="6" [label]="{text: 'Durata massima di sospensione'}" [editorOptions]="{ disabled: false}"></dxi-item>
    </dxi-item> 
    
    <dxi-item itemType="group">
      <dxi-item dataField="idTitolo" [label]="{text: 'Titolo'}" editorType="dxLookup" [editorOptions]="{ 
        disabled: false,
        dataSource: dataSourceTitoli,
        displayExpr: 'nome',
        closeOnOutsideClick: true,
        showPopupTitle: false,
        showCancelButton: false,
        searchPlaceholder: 'Cerca...',
        valueExpr: 'this'
      }"></dxi-item>
      <!-- <dxi-item dataField="idTipoProcedimento.normaRiferimento" [label]="{text: 'Codice Tipo Procedimento'}" [editorOptions]="{ disabled: true}"></dxi-item> -->
    </dxi-item>
    
    <dxi-item itemType="group" [colCount]="12">
      <dxi-item dataField="dataInizio" [colSpan]="4" editorType="dxDateBox" format="dd/MM/yyyy" [label]="{text: 'Data inizio validita', location:'top'}" [editorOptions]="{ disabled: true, displayFormat: 'dd/MM/yyyy' }"></dxi-item>
      <dxi-item dataField="dataFine" [colSpan]="4" editorType="dxDateBox" format="dd/MM/yyyy" [label]="{text: 'Data fine validita', location:'top'}" [editorOptions]="{ disabled: true, displayFormat: 'dd/MM/yyyy' }"></dxi-item>
      <dxi-item dataField="obbligoEsitoConclusivo" [colSpan]="4"  editorType="dxCheckBox" [label]="{text: 'Obbligo esito conclusivo', location:'top'}" [editorOptions]="{ disabled: false}"></dxi-item>
    </dxi-item>


    <dxi-item itemType="group" [colCount]="12">
      <!-- <dxi-item dataField="idTipoProcedimento.codice" [colSpan]="6"  [label]="{text: 'Codice Tipo Procedimento'}" [editorOptions]="{ disabled: true}"></dxi-item>
      <dxi-item dataField="idTipoProcedimento.modoApertura" [colSpan]="6" [label]="{text: 'Modo do apertura'}" [editorOptions]="{ disabled: true}"></dxi-item> -->
    </dxi-item>

    
<!--     <dxi-item itemType="group" [colCount]="12">
      <dxi-item [colSpan]="4"></dxi-item>
        <dxi-item [colSpan]="4" style="align-content: center">
          <dx-button text="Annulla" (onClick)="close()"></dx-button>
          <dx-button text="Salva" (onClick)="save()"></dx-button>
        </dxi-item>
      <dxi-item [colSpan]="4"></dxi-item>
    </dxi-item> -->
    
  </dx-form>

  <div class="container" style="align-content: center">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4" style="align-content: center">
        <div class="row" style="align-content: center">
          <div class="col-sm" style="align-content: center"><dx-button text="Annulla" (onClick)="close()" style="align-content: center"></dx-button></div>
          <div class="col-sm" style="align-content: center"></div>
          <div class="col-sm" style="align-content: center"><dx-button text="Salva" (onClick)="save()" style="align-content: center"></dx-button></div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>

</div>

