.header-font{
    font-weight: bold;
 }
 .header-font h3{
     text-align: center;
 }
 .footerDiv{
    // position: fixed;
    // bottom: 0;
    text-align: right;
    margin: 64px 0 16px 0;
    padding: 0 96px;
 }
/*  .footerDiv > dx-button{
    display: inline-block;
    padding: 2px 8px;
    margin-left: 8px;
 } */
 .contentWrapper > div{
    //  height: auto !important;
    padding: 32px 0;
 }
 .contentLeft{
    padding: 32px 32px 0 0;
 }
 .contentRight{
    padding: 32px 0 0 32px;
 }

 .headerDiv{
     text-align: center;
     margin: 0 0 32px 0;
 }
 .boxes{
     padding: 32px;
 }
label{
    font-weight: 500;
}
.wrapperPulsantiPopup{
    margin-top: 16px;
    text-align: right;
}
/* button{
    background-color: #337ab7;
    border-color: #2d6da3;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px transparent;
    border-width: 1px;
    border-style: solid;
    padding: 7px 18px 8px;
} */

.passaggioFase > div{
    height: initial !important;
}

.passaggioFase div.dx-popup-content{
    height: 100% !important;
}

.sospensionePopup > div {
    height: initial !important;
}

.sospensionePopup div.dx-popup-content{
    height: 100% !important;
}
/* Modifica la grandezza standard della scrollbar  */
#gridContainer .dx-scrollable-scroll {
    width: 15px;
  }
