
<div class="headerDiv">
  <h3><span class="header-font">Azienda:</span> <i>blabla</i></h3>
  <h3><span class="header-font">Struttura:</span> <i>blablablabla</i></h3>
  <h3><span class="header-font">Tipo procedimento:</span> <i>blabla</i></h3>
  <h3><span class="header-font">Iter N. </span> <i>blablabla</i></h3>
</div>
<dx-responsive-box class="contentWrapper">
  <dxi-row [ratio]="1"></dxi-row>

  <dxi-col [ratio]="1"></dxi-col>
  <dxi-col [ratio]="1"></dxi-col>

  <dxi-item>
    <dxi-location [row]="0" [col]="0" [colspan]="1" screen="lg"></dxi-location>
    <dxi-location [row]="0" [col]="0" [colspan]="1" screen="md"></dxi-location>
    <dxi-location [row]="0" [col]="0" [colspan]="1" screen="sm"></dxi-location>
    <dxi-location [row]="0" [col]="0" [colspan]="1" screen="xs"></dxi-location>
    <div class="boxes">
      <dx-form 
        id="form"
        [colCount]="1"
        [formData]="iter">
        <dxi-item itemType="group">
          <dxi-item dataField="oggetto" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="idResponsabileProcedimento.nome" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="Tit. potere sostitutivo" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="promotore" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="presenzaControinteressati" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="idFase.nomeFase" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="stato" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="esito" [editorOptions]="{ disabled: true }"></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" caption="Dati temporali">
          <dxi-item dataField="dataAvvio" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="Data chiusura prevista" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="dataChiusura" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="derogaSospensione" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="Durata dell'iter" [editorOptions]="{ disabled: true }"></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" caption="Dati di archivio">
          <dxi-item dataField="idIterPrecedente.numeroIter" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="modalitaCollegamentoPrecedente" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="idFascicolo" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="Classificazione" [editorOptions]="{ disabled: true }"></dxi-item>
        </dxi-item>
      </dx-form> 
    </div>
  </dxi-item>

  <dxi-item>
    <dxi-location [row]="0" [col]="1" [colspan]="1" screen="lg"></dxi-location>
    <dxi-location [row]="0" [col]="1" [colspan]="1" screen="md"></dxi-location>
    <dxi-location [row]="0" [col]="1" [colspan]="1" screen="sm"></dxi-location>
    <dxi-location [row]="0" [col]="1" [colspan]="1" screen="xs"></dxi-location>
    <div class="boxes">
      <app-sequenza-delle-fasi [idIter]="idIter"></app-sequenza-delle-fasi>
      <app-cronologia-eventi [idIter]="idIter"></app-cronologia-eventi>
      <documenti-iter [idIter]="idIter"></documenti-iter>
    </div>
  </dxi-item>
</dx-responsive-box>

<div class="footerDiv">
    <dx-button [text]="'Annulla'" [type]="'normal'"></dx-button>
    <dx-button [text]="'Conferma'" [type]="'normal'"></dx-button>
</div>
