.header-font{
    font-weight: bold;
 }
 .footerDiv{
    position: fixed;
    bottom: 0;
    text-align: right;
    width: 100%;
 }
 .footerDiv > dx-button{
    display: inline-block;
    margin: 16px;
 }
 .contentWrapper{
     height: auto !important;
 }
 .headerDiv{
     text-align: center;
     margin: 0 0 32px 0;
 }