<!--PER GESTIRE L'IMPAGINAZIONE DEGLI ELEMENTI, UTILIZZIAMO 2 RISOLUZIONI DI RIFERIMENTO: sm,lg. LE RISOLUZIONI VENGONO CALCOLATE ALL'INTERNO DEL .TS CORRISPONDENTE A QUESTA PAGINA HTML LA PROPRIETA' SCREEN SERVE PER nCARE IL CAMBIO DI LAYOUT AL CAMBIO
DELLA RISOLUZIONE
-->
<app-buttons-bar
        (onReloadButton)="onReload()"
        (onSaveButton)= "onSave()"
        (onBackButton) = "onBack()"
        (onRestoreButton) = "onRestore()"
        [backButton]="backBtn"
        [saveButton]="saveBtn"
        [reloadButton]="reloadBtn"
        [restoreButton]="restoreBtn" >
</app-buttons-bar>

   <div class="row">
       <div class="col-2"></div>
        <div class="col" style="text-align: center">
            <h3><span class="header-font">Tipo procedimento:</span> <i>{{[(testoHeaderTipoProcedimento)]}}</i></h3>
            <h3><span class="header-font">Azienda:</span> <i>{{[(testoHeaderAzienda)]}}</i></h3>
            <h3 *ngIf="nuovaAssociazione"><span class="header-italic-font">Nuova Associazione:</span></h3>
            <div class="status-page {{statusPage}}"></div>
        </div>
       <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <div class="center-div">
                <dx-form id="form" #myform [(formData)]="aziendaTipoProcedimento"
                [readOnly]="readOnly" [showColonAfterLabel]="showColon" [labelLocation]="labelLocation"
                [minColWidth]="minColWidth" [colCount]="colCount" [width]="width"
                (onFieldDataChanged)="formFieldDataChanged($event)">
                <dxi-item dataField="descrizioneTipoProcedimento" editorType="dxTextArea" [label]="{text: 'Descrizione'}" [editorOptions]="{ height:70,disabled: false }"></dxi-item>
                <dxi-item dataField="modoApertura" [label]="{text: 'Modo apertura'}" [editorOptions]="{ disabled: true }"></dxi-item>
                <dxi-item dataField="normaRiferimento" [label]="{text: 'Norma di riferimento'}" [editorOptions]="{ disabled: true }"></dxi-item>
                <dxi-item dataField="dataInizio" [label]="{text: 'Valido dal'}" editorType="dxDateBox" [editorOptions]="{ disabled: false, displayFormat: 'dd/MM/yyyy' }" ></dxi-item>
                <dxi-item dataField="dataFine" [label]="{text: 'Al'}"  editorType="dxDateBox" [editorOptions]="{ disabled: false, displayFormat: 'dd/MM/yyyy' }"></dxi-item>
                <dxi-item dataField="durataMassimaSospensione" [label]="{text: 'Durata massima sospensione (gg)'}" [editorOptions]="{ disabled: false }"></dxi-item>
                <!--<div *ngIf="show; else elseBlock">Text to show</div>-->
                <!--<ng-template #elseBlock>Alternate text while primary text is hidden</ng-template>-->
                <!--<dxi-item *ngIf="aziendaTipoProcedimento.idTitolo" dataField ="idTitolo.nomeTitolo" [label]="{text: 'Classificazione'}" [editorOptions]="{ disabled: true }"></dxi-item>-->
                <!--<dxi-item *ngIf="aziendaTipoProcedimento.idTitolo; else elseBlock" dataField ="idTitolo.nomeTitolo" [label]="{text: 'Classificazione'}" [editorOptions]="{ disabled: true }"></dxi-item>-->
                <!--<ng-template #elseBlock> <dxi-item itemType="empty"></dxi-item></ng-template>-->
                <!--<dxi-item dataField="obbligoEsitoConclusivo" editorType="dxSwitch" [label]="{text: 'Obbligo Esito Conclusivo'}" [editorOptions]="{ disabled: false }"></dxi-item>-->
                <dxi-item dataField="obbligoEsitoConclusivo" editorType="dxCheckBox" [label]="{text: 'Obbligo Esito Conclusivo'}" [editorOptions]="{ disabled: false }"></dxi-item>
                <dxi-item dataField="idTitolo" [label]="{text: 'Classificazione'}" editorType="dxLookup" [editorOptions]="{
                dataSource: dataSourceClassificazione,
                displayExpr: 'nomeTitolo',
                closeOnOutsideClick: true,
                showPopupTitle: false,
                showCancelButton: false,
                placeholder: 'Seleziona una voce...',
                searchPlaceholder: 'Cerca...',
                valueExpr: 'this'
                }"></dxi-item>
                </dx-form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row"  id="button-row-1">
        <div class="col-3"></div>
        <div class="col button-div">
            <dx-button class="padding-button" (onClick)="buttonVediAssociazioni(aziendaTipoProcedimento)"text="Vedi Associazioni" hint="Associazioni"></dx-button>
        </div>
        <div class="col button-div">
            <dx-button class="padding-button" (onClick)="buttonAnnullaClicked($event)" text="{{testoBottoneAnnulla}}" hint="Annulla le modifiche"></dx-button>
        </div>
        <div class="col button-div">
            <dx-button class="padding-button" (onClick)="buttonDisassociaClicked($event)" text="Disassocia da azienda" [disabled]="!abilitaBottoneDisassocia" hint="Toglie l'associazione del tipo procedimento dall'azienda"></dx-button>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row" id="button-row-2">
    <div class="col-3"></div>
    <div class="col button-div">

    </div>
    <div class="col button-div">

        <dx-button class="padding-button" (onClick)="buttonConfermaClicked($event)" text="{{testoBottoneConferma}}" hint="Conferma"></dx-button>
    </div>
    <div class="col button-div">
        <dx-button class="padding-button" (onClick)="buttonAssociaClicked($event)" text="Associa a struttura" [disabled]="!abilitaBottoneAssocia" hint="Apre l'interfaccia per l'associazione alle strutture"></dx-button>
    </div>
    <div class="col-3"></div>
</div>



    <!--<div id="page">-->
        <!--<dx-responsive-box singleColumnScreen="sm" [(screenByWidth)]="screen">-->
            <!--<dxi-row [ratio]="2"></dxi-row>-->
            <!--<dxi-row [ratio]="2" screen="xs"></dxi-row>-->
            <!--<dxi-row [ratio]="7"></dxi-row>-->
            <!--<dxi-row [ratio]="2"></dxi-row>-->

            <!--<dxi-col [ratio]="1"></dxi-col>-->
            <!--<dxi-col [ratio]="2" screen="lg"></dxi-col>-->
            <!--<dxi-col [ratio]="1"></dxi-col>-->
            <!--<dxi-item class="header item">-->
                <!--<dxi-location [row]="0" [col]="0" [colspan]="2" screen="lg"></dxi-location>-->
                <!--<dxi-location [row]="0" [col]="0" [colspan]="2" screen="sm"></dxi-location>-->
                <!--<h3><span class="header-font">Tipo procedimento:</span> <i>{{[(testoHeaderTipoProcedimento)]}}</i></h3>-->
                <!--<h3><span class="header-font">Azienda:</span> <i>{{[(testoHeaderAzienda)]}}</i></h3>-->
                <!--<h3 *ngIf="nuovaAssociazione"><span class="header-italic-font">Nuova Associazione:</span></h3>-->
                <!--<div class="status-page {{statusPage}}"></div>-->
            <!--</dxi-item>-->
            <!--<dxi-item class="content item">-->
                <!--<dxi-location [row]="1" [col]="1" screen="lg"></dxi-location>-->
                <!--<dxi-location [row]="1" [col]="0" [colspan]="2" screen="sm"></dxi-location>-->
                <!--<div class="center-div">-->
                    <!--<dx-form id="form" #myform [(formData)]="aziendaTipoProcedimento"-->
                             <!--[readOnly]="readOnly" [showColonAfterLabel]="showColon" [labelLocation]="labelLocation"-->
                             <!--[minColWidth]="minColWidth" [colCount]="colCount" [width]="width"-->
                             <!--(onFieldDataChanged)="formFieldDataChanged($event)">-->
                        <!--<dxi-item dataField="descrizioneTipoProcedimento" editorType="dxTextArea" [label]="{text: 'Descrizione'}" [editorOptions]="{ height:70,disabled: false }"></dxi-item>-->
                        <!--<dxi-item dataField="modoApertura" [label]="{text: 'Modo apertura'}" [editorOptions]="{ disabled: true }"></dxi-item>-->
                        <!--<dxi-item dataField="normaRiferimento" [label]="{text: 'Norma di riferimento'}" [editorOptions]="{ disabled: true }"></dxi-item>-->
                        <!--<dxi-item dataField="dataInizio" [label]="{text: 'Valido dal'}" editorType="dxDateBox" [editorOptions]="{ disabled: false, displayFormat: 'dd/MM/yyyy' }" ></dxi-item>-->
                        <!--<dxi-item dataField="dataFine" [label]="{text: 'Al'}"  editorType="dxDateBox" [editorOptions]="{ disabled: false, displayFormat: 'dd/MM/yyyy' }"></dxi-item>-->
                        <!--<dxi-item dataField="durataMassimaSospensione" [label]="{text: 'Durata massima sospensione (gg)'}" [editorOptions]="{ disabled: false }"></dxi-item>-->
                        <!--&lt;!&ndash;<div *ngIf="show; else elseBlock">Text to show</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<ng-template #elseBlock>Alternate text while primary text is hidden</ng-template>&ndash;&gt;-->
                        <!--&lt;!&ndash;<dxi-item *ngIf="aziendaTipoProcedimento.idTitolo" dataField ="idTitolo.nomeTitolo" [label]="{text: 'Classificazione'}" [editorOptions]="{ disabled: true }"></dxi-item>&ndash;&gt;-->
                        <!--&lt;!&ndash;<dxi-item *ngIf="aziendaTipoProcedimento.idTitolo; else elseBlock" dataField ="idTitolo.nomeTitolo" [label]="{text: 'Classificazione'}" [editorOptions]="{ disabled: true }"></dxi-item>&ndash;&gt;-->
                        <!--&lt;!&ndash;<ng-template #elseBlock> <dxi-item itemType="empty"></dxi-item></ng-template>&ndash;&gt;-->
                        <!--&lt;!&ndash;<dxi-item dataField="obbligoEsitoConclusivo" editorType="dxSwitch" [label]="{text: 'Obbligo Esito Conclusivo'}" [editorOptions]="{ disabled: false }"></dxi-item>&ndash;&gt;-->
                        <!--<dxi-item dataField="obbligoEsitoConclusivo" editorType="dxCheckBox" [label]="{text: 'Obbligo Esito Conclusivo'}" [editorOptions]="{ disabled: false }"></dxi-item>-->
                        <!--<dxi-item dataField="idTitolo" [label]="{text: 'Classificazione'}" editorType="dxLookup" [editorOptions]="{ -->
                            <!--dataSource: dataSourceClassificazione, -->
                            <!--displayExpr: 'nomeTitolo', -->
                            <!--closeOnOutsideClick: true, -->
                            <!--showPopupTitle: false, -->
                            <!--showCancelButton: false, -->
                            <!--placeholder: 'Seleziona una voce...', -->
                            <!--searchPlaceholder: 'Cerca...',-->
                            <!--valueExpr: 'this'-->
                        <!--}"></dxi-item>-->
                    <!--</dx-form>-->
                <!--</div>-->
            <!--</dxi-item>-->

            <!--<dxi-item class="left-side-bar item">-->
                <!--<dxi-location [row]="1" [col]="0" screen="lg"></dxi-location>-->
                <!--&lt;!&ndash; colonna vuota sinistra &ndash;&gt;-->
            <!--</dxi-item>-->

            <!--<dxi-item class="right-side-bar item">-->
                <!--<dxi-location [row]="1" [col]="2" screen="lg"></dxi-location>-->
                <!--&lt;!&ndash; colonna vuota destra &ndash;&gt;-->
            <!--</dxi-item>-->

            <!--<dxi-item class="footer item">-->
                <!--<dxi-location [row]="2" [col]="1" screen="lg"></dxi-location>-->
                <!--<dxi-location [row]="3" [col]="1" screen="sm"></dxi-location>-->

                <!--&lt;!&ndash; ABBIAMO DOVUTO INSERIRE I TASTI NEL FOOTER PERCHE ALTRIMENTI AVREMMO AVUTO DIFFICOLTA NEL POSIZIONARLI UTILIZZANDO IL RESPONSIVE BOX ALL INTERNO DELLA CELLA CONTENENTE IL FORM.-->
              <!--PROBABILMENTE DIPENDE DAL FATTO CHE IL FORM STESSO UTILIZZA IL RESPONSIVE BOX PER POSIZIONARE I SUOI CAMPI &ndash;&gt;-->
                <!--<dx-responsive-box id="responsive-box-buttons" singleColumnScreen="sm" [(screenByWidth)]="screen">-->
                    <!--<dxi-row [ratio]="1"></dxi-row>-->
                    <!--&lt;!&ndash; <dxi-row [ratio]="1"></dxi-row> &ndash;&gt;-->
                    <!--<dxi-col [ratio]="1"></dxi-col>-->
                    <!--<dxi-col [ratio]="1"></dxi-col>-->
                    <!--<dxi-col [ratio]="1"></dxi-col>-->

                    <!--<dxi-item>-->
                        <!--<dxi-location [row]="0" [col]="0"></dxi-location>-->
                        <!--<dx-button class="padding-button" (onClick)="buttonVediAssociazioni(aziendaTipoProcedimento)"text="Vedi Associazioni" hint="Associazioni"></dx-button>-->
                    <!--</dxi-item>-->

                    <!--<dxi-item>-->
                        <!--<dxi-location [row]="0" [col]="1"></dxi-location>-->
                        <!--<dx-button class="padding-button" (onClick)="buttonAnnullaClicked($event)" text="{{testoBottoneAnnulla}}" hint="Annulla le modifiche"></dx-button>-->
                        <!--<dx-button class="padding-button" (onClick)="buttonConfermaClicked($event)" text="{{testoBottoneConferma}}" hint="Conferma"></dx-button>-->
                    <!--</dxi-item>-->

                    <!--<dxi-item>-->
                        <!--<dxi-location [row]="0" [col]="2"></dxi-location>-->
                        <!--<dx-button class="padding-button" (onClick)="buttonDisassociaClicked($event)" text="Disassocia da azienda" [disabled]="!abilitaBottoneDisassocia" hint="Toglie l'associazione del tipo procedimento dall'azienda"></dx-button>-->
                        <!--<dx-button class="padding-button" (onClick)="buttonAssociaClicked($event)" text="Associa a struttura" [disabled]="!abilitaBottoneAssocia" hint="Apre l'interfaccia per l'associazione alle strutture"></dx-button>-->
                    <!--</dxi-item>-->
                <!--</dx-responsive-box>-->
                <!--&lt;!&ndash; colonna vuota sinistra &ndash;&gt;-->
            <!--</dxi-item>-->

        <!--</dx-responsive-box>-->
    <!--</div>-->
