<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb" >
        <li class="breadcrumb-item" *ngFor="let route of visitedRoutes"><a routerLink="{{route.path}}">{{route.data["breadcrumb"]}}</a></li>
    </ol>
</nav>

<!--<nav aria-label="breadcrumb" role="navigation">-->
  <!--<ol class="breadcrumb">-->
    <!--<li class="breadcrumb-item"><a href="#">Home</a></li>-->
    <!--<li class="breadcrumb-item active" aria-current="page">Library</li>-->
  <!--</ol>-->
<!--</nav>-->

<!--<nav aria-label="breadcrumb" role="navigation">-->
  <!--<ol class="breadcrumb">-->
    <!--<li class="breadcrumb-item"><a href="#">Home</a></li>-->
    <!--<li class="breadcrumb-item"><a href="#">Library</a></li>-->
    <!--<li class="breadcrumb-item active" aria-current="page">Data</li>-->
  <!--</ol>-->
<!--</nav>-->