/deep/ .tree-readonly .dx-checkbox-container {
   cursor: default !important;
}

/deep/ .tree-readonly .dx-checkbox-icon {
    border-color: #ddd !important;
    background-color: lightgrey !important;
}


/deep/ .tree-readonly .dx-treeview-node[aria-selected="true"] > .dx-treeview-item > .dx-treeview-item-content > span {
    font-weight: bold !important;
}


/deep/ .tree-readonly span {
    color: grey !important;
}

.tree-not-readonly .dx-checkbox-icon {
    cursor: pointer;
    background-color: white;
}

 .dx-treeview {
    width: 100%;
}

.dx-texteditor .dx-texteditor-empty .dx-textbox {
    width: 100%;
}


.dx-treeview {
    width: 100%;
}


/deep/ .tree-item-selected.dx-treeview-item {
    background-color: #337AB7 !important;

}

/deep/ .tree-item-selected.dx-treeview-item .dx-treeview-item-content > span {
    color:white !important;
}


