<dx-text-box #textBox placeholder="Search" [width]="300" mode="search" valueChangeEvent="keyup"
             value="" style="margin-bottom:8px;"></dx-text-box>
<div id="container-tree">
  <dx-tree-view #treeViewChild id="simple-treeview" [dataSource]="datasource" [height]="500" keyExpr="id" displayExpr="nome"
                dataStructure="plain" parentIdExpr="idStrutturaPadre" [searchValue]="textBox.value"
                showCheckBoxesMode="normal" [selectNodesRecursive]= "enableCheckRecursively"
                (onItemContextMenu)="openContextMenu($event)" (onItemSelectionChanged)="selectionChanged($event)"></dx-tree-view>
</div>

<dx-context-menu *ngIf="!readOnly"
        [dataSource]="contextMenuItems"
        [width]="200"
        target="#simple-treeview"
        (onItemClick)="contextualItemClick($event)">
</dx-context-menu>


<!-- <dx-button (onClick)="sendData()" text="Salva"></dx-button> -->