/deep/ .tree-readonly .dx-checkbox-icon{
    cursor: default;
    background-color: lightgrey;
    
}

/deep/ .tree-not-readonly .dx-checkbox-icon{
    cursor: pointer;
    background-color: white; 
    
}

/deep/ .dx-treeview{
    width: 100%;
}

/deep/ .dx-texteditor .dx-texteditor-empty .dx-textbox{
    width: 100%;
}