.titolo-procedimento {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 3pt 0 30px 0;
}

/* /deep/ .dx-field-item-label-content{
  max-width: 130px;
  white-space: normal;
} */

/deep/ .label-wrap > label {
  width: 200px;
  display: inline-block !important;
}

/deep/ .label-wrap .dx-field-item-content.dx-field-item-content-location-right {
  width: initial !important;
  display: inline-block;
}

/deep/ .label-wrap .dx-field-item-label-text {
  max-width: 200px;
  white-space: pre;
  // display: inline-block;   // Ho dovuto toglierla per allineare l'asterisco del required alla label
}

/deep/ .label-wrap-date > label {
  max-width: 110px;
}

/deep/ .label-wrap-date .dx-field-item-label-text {
  max-width: 110px;
  white-space: pre;
  display: inline-block;
}

/deep/ .no-baseline {
  align-items: initial !important;
}

/deep/ .no-baseline > label {
  vertical-align: bottom !important;
}

/deep/ .lookup-wrap .dx-field-item-content.dx-field-item-content-location-right {
  width: 0px!important;
  overflow: auto;
}

/deep/ .form-avvia-iter div div div div div div div:first-child div {
  justify-content: space-around !important;
}

/deep/ .form-avvia-iter div div div div div div div:first-child div .dx-item.dx-box-item {
  flex: initial !important;
}

/deep/ .textbox-position .dx-textbox {
  position: relative;
  top: 10px;
}
