<div class="container-fluid">
    <!-- Prima riga: fasi -->
    <div class="row">
        <div class="col fase">
            <h4>Fase attuale</h4>
            <p>{{faseAttuale}}</p>
        </div>

        <div class="col">
            <img  class="freccia" src="../../../assets/images/right_arrow.png">
        </div>
        
        <div class="col fase">
            <h4>Fase successiva</h4>
            <p>{{faseSuccessiva}}</p>
        </div>
    </div>  

    <br>

    <!-- Seconda riga: dati passaggio fase -->
    <div class="row">

        <!-- I DATI    -->
        <div class="col">
            <dx-form itemType="group" [formData]="iterParams" [colCount]="12">
                <dxi-item [colSpan]="12" editorType="dxDateBox" [label]="{text: 'Data Passaggio'}" [editorOptions]="{ disabled: false, displayFormat: 'dd/MM/yyyy' }"></dxi-item>
                <dxi-item [colSpan]="4" dataField="codiceRegistroDocumento" [editorOptions]="{ disabled: false }">
                    <dxo-label text="Reg."></dxo-label>
                </dxi-item>
                <dxi-item [colSpan]="5" dataField="numeroDocumento" [editorOptions]="{disabled: false }">
                    <dxo-label text="Num"></dxo-label>
                </dxi-item>
                <dxi-item [colSpan]="3" dataField="annoDocumento" [editorOptions]="{disabled: false}">
                    <dxo-label text="Anno"></dxo-label>
                </dxi-item>
                <dxi-item [colSpan]="12" dataField="notePassaggio" [label]="{text: 'Note Passaggio'}" [editorOptions]="{ height:70,disabled: false}"></dxi-item>
                <dxi-item [colSpan]="12" dataField="esito" [label]="{text: 'Esito'}" [editorOptions]="{ height:70,disabled: false }" [visible]="isNextFaseCloser"></dxi-item>
                <dxi-item [colSpan]="12" dataField="motivazioneEsito" [label]="{text: 'Motivo Esito'}" [editorOptions]="{ height:70,disabled: false}" [visible]="isNextFaseCloser"></dxi-item>
            </dx-form>
        </div>
    </div> 

    <br>

    <!-- Terza riga: 'Salva o annulla' -->
    <div class="row">
        <div class="col-3"></div>
        <div class="col button-div">
            <dx-button class="bottoni" text="Annulla" type="normal" (onClick)="annulla()"></dx-button>
        </div>
        <div class="col button-div">
            <dx-button class="bottoni" text="Procedi" type="default" (onClick)="procedi()"></dx-button>
        </div>
        <div class="col-3"></div>
    </div>    
    
</div>