.colonnePrima{
    text-align: center;
    vertical-align: 50%;

}

.passaggioFaseMegaBox{
    padding: 0 0px;
}

.freccia{
    height: 40%;
    width: 40%;
    text-align: center;
}

.footerDiv > dx-button{
    display: inline-block;
    padding: 2px 8px;
    margin-left: 8px;
 }

 .pulsanti{
     text-align: center;
 }