.colonnePrima{
    text-align: center;
    vertical-align: 50%;

}

.passaggioFaseMegaBox{
    padding: 0 0px;
}

.freccia{
    height: 40%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.fase{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto  
}

.button-div{
    margin-top: 3pt;
    margin-bottom: 3pt;
}

.bottoni{
    display: block;
    margin-left: auto;
    margin-right: auto 
}