<div id="page">
  <dx-responsive-box singleColumnScreen="sm" [(screenByWidth)]="screen">

    <dxi-row [ratio]="2"></dxi-row>
    <dxi-row [ratio]="2" screen="xs"></dxi-row>
    <dxi-row [ratio]="7"></dxi-row>
    <dxi-row [ratio]="2"></dxi-row>

    <dxi-col [ratio]="1"></dxi-col>
    <!-- <dxi-col [ratio]="2" screen="lg"></dxi-col> -->
    <!-- <dxi-col [ratio]="1"></dxi-col> -->

    <dxi-item>
      <dxi-location [row]="0" [col]="0" [colspan]="3" screen="lg"></dxi-location>
      <dxi-location [row]="0" [col]="0" [colspan]="2" screen="sm"></dxi-location>

      <div class = "header item" >
        <h3>
          <span class="header-font">Tipo procedimento:</span>
          <!-- <i>{{testoHeaderTipoProcedimento}}</i> -->
        </h3>
        <h3>
          <span class="header-font">Azienda:</span>
          <!-- <i>{{testoHeaderAzienda}}</i> -->
        </h3>
      </div>
    </dxi-item>

    <dxi-item>
      <!-- <dxi-location [row]="1" [col]="1" [colspan]="3" screen="lg"></dxi-location> -->
      <dxi-location [row]="1" [col]="0" ></dxi-location>

      <div class="center-div">
        <strutture-tree #treeView [idAzienda]="idAzienda" [idAziendaTipoProcedimento]="idAziendaTipoProcedimento" [readOnly]="readOnly" [enableCheckRecursively]="enableCheckRecursively"></strutture-tree>
      </div>
    </dxi-item>

    <!-- <dxi-item class="left-side-bar item">
      <dxi-location [row]="1" [col]="0" screen="lg"></dxi-location>
          
    </dxi-item>

    <dxi-item class="right-side-bar item" style="background-color:orange;">
      <dxi-location [row]="1" [col]="2" screen="lg"></dxi-location>

    </dxi-item> -->

    <!-- QUI COSTRUISCO I PULSANTI, FACCIO IN MODO DI METTERNE 2 ALLINEATI -->
    <dxi-item class="footer item">
      <!-- <dxi-location [row]="2" [col]="1" screen="lg"></dxi-location> -->
      <!-- <dxi-location [row]="4" [col]="0" [colspan]="2" screen="sm"></dxi-location> -->
      <dxi-location [row]="2" [col]="0"></dxi-location> 
      <br>
      <br>

      <dx-responsive-box singleColumnScreen="sm" [(screenByWidth)]="screen">

        <dxi-row [ratio]="2"></dxi-row>
        <dxi-col [ratio]="1"></dxi-col>
        <dxi-col [ratio]="1"></dxi-col>

        <dxi-item>
          <dxi-location [row]="0" [col]="0"></dxi-location>
          <dx-button class="padding-button" (onClick)="sendData()" text="Annulla"></dx-button>    
        </dxi-item>

        <dxi-item>
          <dxi-location [row]="0" [col]="1"></dxi-location>
          <dx-button class="padding-button" (onClick)="sendData()" text="Associa"></dx-button>    
        </dxi-item>
      </dx-responsive-box>
    </dxi-item>

  </dx-responsive-box>
</div>