/** TEMPLATE GENERALE***/
/deep/ .header-app-component {
   //width: 100%;
   //height: 100%;
   background-color: #eeffcc;
   //min-height: 1000px;
   //display: block;
 }

/deep/ .content-app-component {
  //width: 100%;
  //height: 100%;
  background-color: #3fcc75;
  //clear: both;

}

/deep/ .test {
  height: 100%;
}

/deep/ .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-title {
  background-color:  #FFC057 !important;
}


/deep/ .dx-datagrid-text-content {
  text-align: center !important;
  font-weight: bold;
  color: #696969;
}

/deep/ .dx-datagrid-action, .dx-datagrid-drag-action {
  text-align: center !important;
  font-weight: bold;
}

/*la barra del pulsante "Aggiungi" (toolbar)*/
/deep/ .dx-datagrid-header-panel{
  margin: 10px !important;
}

/* I bottoni della colonna azioni*/
.app-azioni {
  width: auto !important;
  text-align: center !important;
  display: flex;
  justify-content: space-around;
}


/deep/ .dx-row > td {
  vertical-align: middle !important;
}

/deep/ .dx-field-label {
  white-space: initial;
}

/* SE VOGLIO COLORE RIGHE ALTERNATE ALTERNATO: **/

// COLORE DELL'ALTERNANZA
/*  .dx-row.dx-data-row.dx-column-lines:nth-child(even) {
    background-color: "#002bff0d";
}

// COLORE CON HOVER
 .dx-row.dx-data-row.dx-column-lines:hover{
    background-color: "#337ab78c" !important;
} */

/*                      fine template                       */
/************************************************************/

.row-fluid .col-0 {
  width: 0%;
  float:left;
}

.trans {
  //background-color: #A6BFBA;
  //  -webkit-transition: width 1.5s ease, margin 1.5s ease, padding 1.5s ease;
  //  -moz-transition: width 1.5s ease, margin 1.5s ease, padding 1.5s ease;
  //  -o-transition: width 1.5s ease, margin 1.5s ease, padding 1.5s ease;
  //  transition: width 1.5s ease, margin 1.5s ease, padding 1.5s ease;
  background-color: #A6BFBA;
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

#col1 {
  background-color: #3fcc75;
}

#col2 {
  background-color: #DE4124;

}

#trig {
  margin: 50px;
}

.row-fluid .col-0 + [class*="col"]{
  margin-left: 0;
}

/* Layout pagina
*/
// .pageWrapper {
//   display: table;
//   width:100%;
//   height:100%
// }
.clHeader {
  display: table;
  padding: 0 32px;
  height: 64px;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  margin-bottom: 30px;
}
.clContentBody {
  display: table-row-group;
}
// .clContentBody > div {
//   height: 100%;
// }
.row {
  margin: 0;
}
// .clFooter {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
.clFooter {
  display: table-footer-group
}
#sidebar-toggle-button {
  height: 36px;
  width: 36px;
  //padding: 4px;
}
.ovf-auto {
  overflow: auto;
}
.heightCPC{
  height: 100%;
}
.clRightSide{
  padding-bottom: 30px;
  display: table;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar-style {
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  transition: all 0.3s;
  position: fixed;
  padding: 0 5px 0 0;
}
/deep/ .sidebar-style .main-menu{
  background-color: rgba(32, 50, 68, 0.9803921568627451) !important;
  border: none !important;
  box-shadow: 0 0 5px rgba(0,0,0,.7); 
}
/deep/ .sidebar-style .main-menu li{
  color: rgba(255,255,255,.87) !important;
  padding: 8px 30px !important;
  border: none !important;
}
/deep/ .sidebar-style .main-menu ul{
  padding: 0;
}
/deep/ .sidebar-style .main-menu li:hover{
  background-color: #203142;
}
.active {
  margin-left: 0;
}
/* App Bar */
.buttonWrapper{
  display: table-cell;
  vertical-align: middle;
}
/* Breadcump */
/deep/ #navbar-id ol{
  margin-bottom: 0;
}

.icon-size {
  font-size: 87px;
}

#userProfile {
  float: right;
  margin-right: 32px;
}
/deep/ .dx-datagrid{
  box-shadow: 0 0 1px rgba(0,0,0,.15); 
  padding: 15px; 
  background-color: #fff; 
  border-radius: 2px;
}
/deep/ .dx-datagrid-header-panel{
  border-bottom: none;
}
/deep/ dx-form > div > div > div > .dx-box-item{
  box-shadow: 0 0 1px rgba(0,0,0,.15); 
  padding: 15px; 
  background-color: #fff; 
  border-radius: 2px;
  margin-bottom: 8px;
}