/deep/ .header-app-component{
   //width: 100%;
   //height: 100%;
   background-color: #eeffcc;
   //min-height: 1000px;
   //display: block;
 }

/deep/  .content-app-component{
  //width: 100%;
  //height: 100%;
  background-color: #3fcc75;
  //clear: both;

}

/deep/ .test{
  height: 100%;
}

//.row-fluid div {
//  height: 200px;
//  -webkit-transition: width 0.3s ease, margin 0.3s ease, padding 0.3s ease;
//  -moz-transition: width 0.3s ease, margin 0.3s ease, padding 0.3s ease;
//  -o-transition: width 0.3s ease, margin 0.3s ease, padding 0.3s ease;
//  transition: width 0.3s ease, margin 0.3s ease, padding 0.3s ease;
//}

.row-fluid .col-0 {
  width: 0%;
  float:left;
}

.trans {
  //background-color: #A6BFBA;
  //  -webkit-transition: width 1.5s ease, margin 1.5s ease, padding 1.5s ease;
  //  -moz-transition: width 1.5s ease, margin 1.5s ease, padding 1.5s ease;
  //  -o-transition: width 1.5s ease, margin 1.5s ease, padding 1.5s ease;
  //  transition: width 1.5s ease, margin 1.5s ease, padding 1.5s ease;
  background-color: #A6BFBA;
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

#col1 {
  background-color: #3fcc75;
}

#col2 {
  background-color: #DE4124;

}

#trig {
  margin: 50px;
}

.row-fluid .col-0 + [class*="col"]{
  margin-left: 0;
}

/* Layout pagina
*/
.pageWrapper{
  display: table; 
  width:100%; 
  height:100%
}
.clHeader{
  display: table-header-group;
  padding: 0 32px;
}
.clContentBody{
  display: table-row-group;
}
.clContentBody > div{
  height: 100%;
}
.row{
  margin: 0;
}
.clFooter{
  position: absolute;
  bottom: 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar-style {
  font-family: "Open Sans", sans-serif;
  width: 200px;
  top: 0;
  left: 0;
  height: 96vh;
  z-index: 999;
  margin-left: -200px;
  transition: all 0.3s;
  color: #fff;
}

 .active {
  margin-left: 0;
}

//#sidebar .sidebar-header {
//  padding: 10px;
//  background: #993366;
//  margin-left: 2px;
//}
//
//#sidebar ul.components {
//  margin-left: 2px;
//  border: 1px solid #47748b;
//  border-radius: 1px;
//}
//
//#sidebar ul p {
//  color: #7386D5;
//  padding: 5px;
//  font-size: 1.2em;
//}
//
//#sidebar ul li a {
//  padding: 10px;
//  font-size: 1.1em;
//  display: block;
//}
//
//#sidebar ul li a:hover {
//  background: #FFC057;
//}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
//@media (max-width: 768px) {
//  #sidebar {
//    margin-left: -200px;
//  }
//  #sidebar.active {
//    margin-left: 0;
//  }
//  #sidebarCollapse span {
//    display: none;
//  }
//}

.navbar-login
{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session
{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size
{
  font-size: 87px;
}

#userProfile{
  float: right;
  margin-right: 32px;
}

.menuPosition{
  transform: translate3d(-260px, 19px, 0px);
}