<!-- se si vuole usare il responsive-box in qualche componente, bisogna metterlo anche qui, altrimenti non funziona bene (specialmente con chrome)-->



<!--<dx-responsive-box class="test">-->
    <!--<dxi-row [ratio]="1"></dxi-row>-->
    <!--<dxi-row [ratio]="1"></dxi-row>-->
    <!--<dxi-col [ratio]="1"></dxi-col>-->

    <!--<dxi-item class="header-app-component">-->
        <!--<dxi-location [row]="0" [col]="0"></dxi-location>-->
        <!--<div >-->
            <!--HEADER-->
        <!--</div>-->
    <!--</dxi-item>-->
    <!--<dxi-item class = "content-app-component">-->
        <!--<dxi-location [row]="1" [col]="0"></dxi-location>-->
        <!--<div >-->
            <!--sidebar and content and footer-->
        <!--</div>-->
    <!--</dxi-item>-->
<!--</dx-responsive-box>-->


<!--<div class="container-fluid">-->

        <!--<ng-sidebar-container>-->
            <!--<ng-sidebar [(opened)]="_opened" [mode]="'push'">-->
                <!--<div class="row no-gutters">-->
                    <!--<div class="col no-gutters">-->
                        <!--<p>Sidebar contents</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</ng-sidebar>-->
            <!--<div ng-sidebar-content>-->
                <!--<div class="row content-app-component no-gutters">-->
                    <!--<div class="col-4">-->
                        <!--<button (click)="_toggleSidebar()">Toggle sidebar</button>-->
                    <!--</div>-->
                    <!--<div class="col">-->
                        <!--breadcrumps-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col">-->
                    <!--routrt ouitles-->
                <!--</div>-->
            <!--</div>-->
        <!--</ng-sidebar-container>-->


    <!--<div class="row header-app-component">-->
        <!--<div class="col">-->
            <!--1 of 3-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="container">-->
    <!--<ng-sidebar-container>-->
        <!--<div class = "row" style="background-color: #3fcc75">-->
            <!--<div class="col">-->
                <!--nav bar-->
            <!--</div>-->
        <!--</div>-->
            <!--&lt;!&ndash; A sidebar &ndash;&gt;-->
            <!--<ng-sidebar [(opened)]="_opened" [mode]="'push'">-->

                    <!--<div class="col">-->
                        <!--<p>Sidebar contents</p>-->
                    <!--</div>-->

            <!--</ng-sidebar>-->

            <!--&lt;!&ndash; Page content &ndash;&gt;-->
            <!--<div ng-sidebar-content>-->

                <!--<button (click)="_toggleSidebar()">Toggle sidebar</button>-->
            <!--</div>-->
    <!--</ng-sidebar-container>-->
<!--</div>-->



<!-- <div class="container-fluid">
    <div class="row header-app-component">
        <div class="col">
            HEADER
        </div>
    </div>
    <div class="row">
        <sidebar></sidebar>
        <div id="sidebar-page" class="col">
            <div class="row">

                <div class="col-2">
                    <button id="sidebar-toggle-button" type="button" class="btn btn-default" (click)="slide()">
                        <span class="dx-icon-menu"></span>
                    </button>
                </div>
                <div class="col">
                    <app-navbar></app-navbar>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <router-outlet></router-outlet>
                </div>
                <div class="w-100"></div>
            <div class="col-12">
                footer
            </div>
            </div>
        </div>
    </div>
</div> -->

<div class="pageWrapper">
    <div class="clHeader">
        HEADER
    </div>
    <div class="clContentBody">
        <div class="row">
            <sidebar id="sidebar" [sidebarItems]="sidebarItems"></sidebar>
            <div class="col">
                <div class="row">
                    <dx-button id="sidebar-toggle-button" icon="menu" type="default" text="Menu" (click)="slide()"></dx-button>
                    <div class="col">
                        <app-navbar></app-navbar>
                    </div>
                </div>
                <div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div> 
    </div>
    <div>
        FOOTER
    </div>
</div>


<!-- <div style="width:100%; height:100%">
    <div>
        HEADER
    </div>
    <div>
        <div class="row" style="height: 100%;">
            <div [class]="col2Class" class="col-2">
                <div id="sidebar-items" >SIDEBAR-ITEMS</div>
            </div>
            <div>
                <div class="row">
                    <button id="sidebar-toggle-button" class="btn btn-inverse" (click)="slide()">TOGGLE</button>
                    <div>
                        breadcrumps
                    </div>
                </div>
                <div style="height: 100%;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div> 
    </div>
    <div class="clFooter">
        FOOTER
    </div>
</div> -->