<nav id="sidebar" (clickOutside)= "close()">
  <div class="sidebar-header">
    <h3>Sidebar</h3>
  </div>
  <ul class="list-unstyled components margine-sinistro">
    <p>Heading</p>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#definizione-tipi-procedimento">Definizione Tipi Procedimento</a>
    </li>
    <li>
      <a href="#iter-procedimento">Iter Procedimento</a>
    </li>
    <li>
      <a href="#procedimenti-attivi">Procedimenti Attivi</a>
    </li>
    <li>
      <a href="#submenu" data-toggle="collapse" aria-expanded="false">Submenu</a>
      <ul class="collapse list-unstyled margine-sinistro" id="submenu">
        <li><a href="#">Sub 1</a></li>
        <li><a href="#">Sub 2</a></li>
        <li><a href="#">Sub 3</a></li>
      </ul>
    </li>
  </ul>
</nav>