<nav>
  <ul class="list-unstyled components margine-sinistro">
    <li *ngFor="let items of sidebarItems">
      <div *ngIf="!items.children; else submenuEntry ">
        <a href="#{{items.routerLink}}">{{ items.description }}</a>
      </div>
      <ng-template #submenuEntry>
        <a href="#submenu" data-toggle="collapse" aria-expanded="false"><span style="color: #993366">{{ items.description }}</span></a>
        <ul class="collapse list-unstyled margine-sinistro" id="submenu">
          <li *ngFor="let childrens of items.children"></li>
          <sidebar [sidebarItems]="items.children"></sidebar>
        </ul>
      </ng-template>
    </li>
  </ul>
</nav>