<nav class="main-menu">
  <ul class="nav navbar-nav components margine-sinistro">
    <li *ngFor="let items of sidebarItems">
      <div *ngIf="!items.children; else submenuEntry ">
        <a routerLink="{{items.routerLink}}">{{ items.description }}</a>
      </div>
      <ng-template #submenuEntry>
        <div class="arrow-down">
          <a href="#submenu" data-toggle="collapse" aria-expanded="false" class="espanso"> {{ items.description }} </a>
        </div>
        <ul class="collapse margine-sinistro" id="submenu">
          <li *ngFor="let childrens of items.children"></li>
          <sidebar [sidebarItems]="items.children"></sidebar>
        </ul>
      </ng-template>
    </li>
  </ul>
</nav>