<span class="title">Cronologia eventi</span>
<hr />
<div id="gridContainerB">
  <dx-data-grid
  id="gridID"
        [dataSource] = "dataSourceEventoIter"
        noDataText="Non ci sono dati da visualizzare"
        hoverStateEnabled="true"
        [customizeColumns]="customizeColumns"
        (onRowPrepared)="onRowPrepared($event)"
        (onCellPrepared)="onCellPrepared($event)">
    <dxo-sorting ascendingText="Ordine crescente" descendingText="Orine discendente" clearText="Togli ordinamento"></dxo-sorting>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <!-- <dxo-paging [pageSize]=""></dxo-paging> -->
    <dxi-column dataField="dataOraEvento" caption="Data" [dataType]="'Date'" format="dd/MM/yyyy"  alignment="center" [allowSorting]="true" ></dxi-column>
    <dxi-column dataField="autore.idPersona.descrizione" caption="Autore" [dataType]="'string'" alignment="center" [allowSorting]="false"></dxi-column>
    <dxi-column dataField="idEvento.nome" caption="Evento" [dataType]="'string'" alignment="center" [allowSorting]="false"></dxi-column>
    <dxi-column dataField="idDocumentoIter" caption="Documento" [dataType]="'string'" alignment="center" [allowSorting]="false"></dxi-column>
    <dxi-column dataField="note" cellTemplate="noteCellTemplate" caption="Note" width="auto" alignment="center" [allowSorting]="false"></dxi-column>
    <dxi-column *ngIf= "possoCancellare" dataField="canDelete" cellTemplate="canDeleteTemplate" caption="Elimina" width="auto" alignment="center" [allowSorting]="false"></dxi-column>
    <div *dxTemplate="let d of 'noteCellTemplate'">
      <dx-button *ngIf="d.value" type="default" text="" hint="Mostra note" icon='doc' (onClick)="showNotes(d)"></dx-button>
    </div>
    <div *dxTemplate="let x of 'canDeleteTemplate'">
      <dx-button *ngIf="x.value && x.value.annullato" type="default" text="" hint="Elimina ultima associazione" icon='revert' (onClick)="cancellaEvento(x)"></dx-button>
    </div>
  </dx-data-grid>
</div>

<!-- <dxi-column dataField="idFaseIter.idFase.nome" caption="Fase" [dataType]="'string'" alignment="center" [allowSorting]="false"></dxi-column> -->

<dx-tooltip #tooltip>
  <div *dxTemplate="let data = data of 'content'">
    <b>{{oggettoDocumento}}</b>
  </div>
</dx-tooltip>
<dx-tooltip #tooltipDataReg>
  <div *dxTemplate="let data = data of 'content'">
    {{dataRegistrazioneEvento}}
  </div>
</dx-tooltip>
<dx-popup *ngIf="enablePopup"
  class="popup"
  minWidth="200"
  minHeight="100"
  maxWidth= "800"
  maxHeight= "800"
  width="auto"
  height="auto"
  [showTitle]="true"
  title="Note"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  (onHidden)="disablePopup()"
  [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <p><span>{{ nota }}</span></p>
  </div>
</dx-popup>