.title{
  //margin: 32px 0 16px;
  font-size: 20px;
  display: block;
  // padding-top: 6px;
}
dx-data-grid{
  min-width: 100%;
  // max-height: 260px;
}
// dx-data-grid{
//   overflow-y: hidden;
// }
// #gridContainerB{
//   color: red;
// }
// /deep/ #gridContainerB .dx-datagrid {
//   height: 100px;
// }
// /deep/ .dx-datagrid-rowsview{
//   height: inherit !important;
// }
// /deep/ .dx-scrollable-container{
//   overflow-y: scroll;
// }
hr{
  margin: 8px 0 15px;
  border-top: 1px solid #ddd;
}
// #gridID{
//   height: 100px;
// }