<span class="title">Cronologia eventi</span>
<dx-data-grid
        [dataSource] = "dataSourceEventoIter"
        columnAutoWidth="true"
        noDataText="Non ci sono dati da visualizzare"
        hoverStateEnabled="true">
  <dxi-column dataField="dataOraEvento" caption="il" [dataType]="'Date'" width="100" alignment="center" format="dd/MM/yyyy" [allowSorting]="false" ></dxi-column>
  <dxi-column dataField="autore.descrizione" caption="Autore" [dataType]="'string'" width="auto" alignment="center" [allowSorting]="false"></dxi-column>
  <dxi-column dataField="idEvento.nomeEvento" caption="Evento" [dataType]="'string'" width="100" alignment="center" [allowSorting]="false"></dxi-column>
  <dxi-column dataField="idFaseIter.idFase.nomeFase" caption="Fase" [dataType]="'string'" width="100" alignment="center" [allowSorting]="false"></dxi-column>
</dx-data-grid>