<div class="container-fluid">
  <div class="row">
    <div class="col">
      <dx-button text="Indietro" type="normal" icon="back" (onClick)="goBack()"></dx-button>
    </div>
    <div class="col-8 center-text">
      <h3>
        <span class="header-font">Tipo procedimento:</span>
          <i>{{headerTipoProcedimento}}</i>
      </h3>
      <h3>      
        <span class="header-font">Struttura responsabile del procedimento:</span>
          <i>{{strutturaSelezionata.nome}}</i>
      </h3>
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <dx-button id="bottoneModifica" class="padding-button allinea-a-sinistra" (onClick)="showPopup()" text="Modifica associazioni alle Strutture" hint="Modifica associazioni alle Strutture"></dx-button>
      <strutture-tree #treeView [idAzienda]=idAziendaFront [nodesToCheckSelectedStatus]="nodeInvolved" [popupVisible]="popupVisible"
        [idAziendaTipoProcedimento]=idAziendaTipoProcedimentoFront [readOnly]="true" [disabled]="possoAgireForm" focusStateEnabled="false" [enableCheckRecursively]="false" (strutturaSelezionata)="selezionaStruttura($event)"></strutture-tree>
    </div>
    <div class="col-8" id="center-div">
      <dx-form id="form" #myform [(formData)]="procedimento" [visible]="formVisible"> 
        <dxi-item dataField="idAziendaTipoProcedimento.descrizioneTipoProcedimento" editorType="dxTextArea" cssClass="label-wrap" [label]="{text: 'Descrizione'}" [editorOptions]="{ height:70,disabled: true }"></dxi-item>
        <dxi-item dataField="idAziendaTipoProcedimento.idTipoProcedimento.modoApertura" cssClass="label-wrap" [label]="{text: 'Modo apertura'}" [editorOptions]="{ disabled: true }"></dxi-item>
        <dxi-item dataField="idAziendaTipoProcedimento.idTipoProcedimento.normaRiferimento" cssClass="label-wrap" [label]="{text: 'Norma di riferimento'}" [editorOptions]="{ disabled: true }"></dxi-item>
        <dxi-item dataField="idAziendaTipoProcedimento.idTitolo.titAndClass" cssClass="label-wrap" [label]="{text: 'Classificazione'}" [editorOptions]="{ disabled: true }"></dxi-item>
        <dxi-item dataField="idAziendaTipoProcedimento.durataMassimaSospensione" cssClass="label-wrap" [label]="{text: 'Durata massima sospensione'}" [editorOptions]="{ disabled: true }"></dxi-item>    
        <dxi-item [template]="'responsabile'" cssClass="label-wrap lookup-wrap" [label]="{text: 'Responsabile dell\'adozione dell\'atto finale'}" ></dxi-item>
          <div *dxTemplate="let data of 'responsabile'">
            <dx-lookup [dataSource]="dataSourceResponsabile"
              [showPopupTitle]="false"
              [showClearButton]="true"
              clearButtonText="Cancella"
              cancelButtonText="Chiudi"
              closeOnOutsideClick="true"
              placeholder= "Seleziona..."
              searchPlaceholder= "Cerca..."
              [disabled]="!possoAgireForm"
              displayExpr="nomeVisualizzato"
              searchExpr="idUtente.idPersona.descrizione"
              [value]="defaultResponsabile"
              (onOpened)="reloadResponsabile($event)"
              (onItemClick)="setResponsabilePlusStruttura($event)"
              [hint]="testoTooltipResponsabile">
            </dx-lookup>
          </div>
          <dxi-item [template]="'titolare'" cssClass="label-wrap lookup-wrap" [label]="{text: 'Titolare potere sostitutivo'}"></dxi-item>
          <div *dxTemplate="let data of 'titolare'">
            <dx-lookup [dataSource]="dataSourceTitolare"
              [showPopupTitle]="false"
              [showClearButton]="true"
              clearButtonText="Cancella"
              cancelButtonText="Chiudi"
              closeOnOutsideClick="true"
              placeholder= "Seleziona..."
              searchPlaceholder= "Cerca..."
              [disabled]="!possoAgireForm"
              displayExpr="nomeVisualizzato"
              searchExpr="idUtente.idPersona.descrizione"
              [value]="defaultTitolare"
              (onOpened)="reloadTitolare()"
              (onItemClick)="setTitolarePlusStruttura($event)"
              [hint]="testoTooltipTitolare">
            </dx-lookup>
          </div>
          <dxi-item dataField="ufficio" cssClass="label-wrap" [label]="{text: 'Ufficio'}" [editorOptions]="{ disabled: !possoAgireForm }"></dxi-item>
          <dxi-item dataField="strumenti" cssClass="label-wrap" [label]="{text: 'Strumenti di tutela amministrativa e giurisdizionale riconosciuti dalla Legge'}" [editorOptions]="{ disabled: !possoAgireForm }"></dxi-item>
          <dxi-item dataField="modalitaInfo" cssClass="label-wrap" [label]="{text: 'Modalità informativa stato iter'}" [editorOptions]="{ disabled: !possoAgireForm }"></dxi-item>
          <dxi-item dataField="descrizioneAtti" cssClass="label-wrap" [label]="{text: 'Descrizione atti e documenti da allegare all\'istanza'}" editorType="dxTextArea" [editorOptions]="{ height:70, disabled: !possoAgireForm }"></dxi-item>
          <div class="dx-field">
          <dxi-item dataField="dataInizio" cssClass="label-wrap" [label]="{text: 'Data inizio validità'}" editorType="dxDateBox" [editorOptions]="{ disabled: !possoAgireForm, displayFormat: 'dd/MM/yyyy' }"></dxi-item>
          <dxi-item dataField="dataFine" cssClass="label-wrap" [label]="{text: 'Data fine validità'}" editorType="dxDateBox" [editorOptions]="{ disabled: !possoAgireForm, displayFormat: 'dd/MM/yyyy', 
                  min: procedimento.dataInizio, dateOutOfRangeMessage: 'Il valore è fuori dall\'intervallo'}"></dxi-item>
          </div>
          <dxi-item [template]="'bottoneUno'"></dxi-item>
        <div *dxTemplate="let data of 'bottoneUno'"></div>
      </dx-form>
      <dx-button *ngIf= "possoAgireForm" class="buttons-form margine-sinistro custom-sm-col" [visible]=formVisible (onClick)="bottoneSalvaProcedimento()" text="Salva"
      hint="Salva i campi"></dx-button>

    <dx-button *ngIf= "!possoAgireForm" class="buttons-form margine-sinistro custom-sm-col" [visible]=formVisible (onClick)="bottoneModificaProcedimento()" text="Modifica"
      hint="Modifica i campi"></dx-button>

<!--       <dx-button class="buttons-form margine-sinistro custom-sm-col" [visible]=formVisible (onClick)="bottoneSalvaProcedimento(true)" text="{{ testoBottone }}"
      hint="Salva i campi"></dx-button> -->

      <dx-button class="buttons-form" [visible]=formVisible (onClick)="bottoneAnnulla()" text="Annulla" hint="Annulla le modifiche"></dx-button>
      <span *ngIf="!formVisible">
        <h2 class="no-procedimento">Nessun procedimento associato alla struttura</h2>
      </span>
    </div>
    <div class="col"></div>
  </div>

 <!--  <div class="row item padding-bottom">
    <div class="col"></div>
    <div class="col-2" id="responsive-box-buttons">
      <dx-button class="padding-top" [visible]=formVisible (onClick)="bottoneSalvaProcedimento(true)" text="{{ testoBottone }}"
        hint="Salva i campi"></dx-button>
    </div>
    <div class="col-2">
      <dx-button class="padding-top" [visible]=formVisible (onClick)="bottoneAnnulla()" text="Annulla" hint="Annulla le modifiche"></dx-button>
    </div>
    <div class="col"></div>
  </div> -->
</div>


<dx-popup class="popup" [width]="600" [height]="670" [showTitle]="true" title="Associa a strutture" [dragEnabled]="false"
  [closeOnOutsideClick]="false" [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <popup-struttura-tipi-procedimento [readOnly]="false" [enableCheckRecursively]="false" [aziendaTipoProcedimentoObj]="aziendaTipiProcedimentoData"
      (refreshAfterChange)="refreshTreeView($event)">
    </popup-struttura-tipi-procedimento>
  </div>
</dx-popup>