<div class="container whitePanel">
    <h2 class="text-center mb-3">PG {{sospensioneParams.numeroDocumento}}/{{sospensioneParams.annoDocumento}}</h2>
    <div class="mb-3">
        <app-lista-iter-con-permessi (selectedRow)="selectedRowChanged($event)" [userInfo]="userInfo"></app-lista-iter-con-permessi>
    </div>

    <hr class="m-4"/>

    <h3 class="mb-3 text-center">{{selectedIter}}</h3>

    <div *ngIf="sospensioneParams.idIter" class="offset-4 col-4 mb-3">   
        <dx-lookup
            [items]="lookupItems"
            placeholder="Seleziona un operazione"
            [showPopupTitle]="false"
            [searchEnabled]="false"
            [showCancelButton]="false"
            (onValueChanged)="lookupValueChanged($event)">
        </dx-lookup>
    </div>

    <div class="mb-3 text-center">
        <div class="d-inline-block col col-lg-8">
            <app-cambio-di-stato-box *ngIf="lookupValue === 'Cambio di stato'" [sospensioneParams]="sospensioneParams" [userInfo]="userInfo" [isOpenedAsPopup]="false"></app-cambio-di-stato-box>
            <app-passaggio-di-fase *ngIf="!sospensioneParams.isFaseDiChiusura && lookupValue === 'Passaggio di fase'" [idIter]="sospensioneParams.idIter" [isOpenedAsPopup]="false"></app-passaggio-di-fase>
        </div>
    </div>
</div>
