/*
/deep/ .navbar{
/*font-family: Tahoma, Arial, Helvetica, sans-serif !important;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
font-stretch: expanded !important;
}
*/

/deep/ .dx-datagrid-action, .dx-datagrid-drag-action {
    text-align: center !important;
    font-weight: bold;
}

/deep/.dx-datagrid-text-content {
    text-align: center !important;
    font-weight: bold;
}


/deep/ .navbar {
    border-color: #993366 !important;
    background-color: #993366 !important;
    border: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
}


/deep/ .navbar-nav > li > a{
    color: white !important;
    font-size: 24px !important;
}

/*le scritte del menu*/
/deep/ .navbar-nav > li > a.active{
    text-decoration: underline !important;
}

/*la barra del pulsante "Aggiungi" (toolbar)*/
/deep/ .dx-datagrid-header-panel{
    margin: 10px !important;
}



/* /deep/ .dx-header-row{
    background-color: #D8D8D8 !important;
    color: black !important;
} */

/deep/ .dx-row.dx-data-row.dx-column-lines:nth-child(even) {
    background-color: "#002bff0d";
}

/deep/ .dx-row.dx-data-row.dx-column-lines:hover{
    background-color: "#337ab78c" !important;
}

/*  --> questo metteva la testata gialla al popup per la modifica del tipo di procedimento
#testata{
    padding: 10px;
    display: block !important;
    background-color:  #FFC057 !important;
    font-size: 40px !important;
}
*/


/deep/ .dx-command-edit .dx-link {
    text-decoration: none;
    font-size: 18px;
    margin: 0 3px;
}

/* I bottoni della colonna Azioni*/
/deep/ .azioni-tipi-procedimento{
    width: auto !important;
    text-align: center !important;
    display: flex;
    justify-content: space-around;
}



/deep/ .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-title{
    background-color: white !important;
}