<dx-responsive-box style="padding:16px;">
  <dxi-row [ratio]="1"></dxi-row>

  <dxi-col [ratio]="1"></dxi-col>
  <dxi-col [ratio]="5"></dxi-col>

  <dxi-item>
    <dxi-location [row]="0" [col]="0" [colspan]="1" screen="lg"></dxi-location>
    <dxi-location [row]="0" [col]="0" [colspan]="1" screen="md"></dxi-location>
    <dxi-location [row]="0" [col]="0" [colspan]="1" screen="sm"></dxi-location>
    <dxi-location [row]="0" [col]="0" [colspan]="1" screen="xs"></dxi-location>
    <div>
      <dx-text-box
        #textBox
        placeholder="Search"
        [width]="300"
        mode="search"
        valueChangeEvent="keyup"
        value=""
        style="margin-bottom:8px;"
        ></dx-text-box>
      <dx-tree-view
        id="selection-treeview"
        [dataSource]="aziende"
        dataStructure="plain"
        displayExpr="nome"
        parentIdExpr="FK_id_struttura_padre"
        keyExpr="id"
        [width]="320"
        showCheckBoxesMode="normal"
        [searchValue]="textBox.value"
        (onItemClick)="selectItem($event)"
        >
    </dx-tree-view>
    </div>
  </dxi-item>

  <dxi-item>
    <dxi-location [row]="0" [col]="1" [colspan]="1" screen="lg"></dxi-location>
    <dxi-location [row]="0" [col]="1" [colspan]="1" screen="md"></dxi-location>
    <dxi-location [row]="0" [col]="1" [colspan]="1" screen="sm"></dxi-location>
    <dxi-location [row]="0" [col]="1" [colspan]="1" screen="xs"></dxi-location>
    <div style="height:100%;">
      <app-associa *ngIf="associata else procedimento"></app-associa>
      <ng-template associa-host #procedimento>
        <app-procedimento></app-procedimento>
      </ng-template>
      <!-- <button (click)="loadComponent()">Create success alert</button> -->
      <!-- <button (click)="createComponent('danger')">Create danger alert</button> -->
      <dx-popup
        class="popup"
        [showTitle]="true"
        [maxWidth]="500"
        title="Albero strutture"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupVisible">
        <div *dxTemplate="let data of 'content'">
          <app-albero-strutture></app-albero-strutture>
        </div>
    </dx-popup>
    </div>
  </dxi-item>
</dx-responsive-box>
