html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.headerCustomizzation {
    background-color: white;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: #e1e6ea;
}

.contentWrapper {
    padding: 0 16px 16px;
}

.contentCustomizzation {
    /*background-color: white;
  border-top-style: solid;
  border-width: 1px;
  border-top-color: #e1e6ea;*/
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e6ea;
}

.labelCustom {
    width: 105px;
    text-align: left;
}

.fieldValueCustom {
    /*float: left;*/
    text-align: initial;
}

.verticalAlignParent {
    display: table;
    width: 100%;
    height: 100%;
}

.verticalAlignSon {
    display: table-cell;
    vertical-align: middle;
}

.paddingX {
    padding-left: 8px;
    padding-right: 8px;
}


/*.overflowXChild > div > div + div{
  overflow-x: scroll;
}*/

.marginRight16 {
    margin-right: 16px;
}
