/deep/ dx-form .dx-form-group{
    border: none;
    padding: 0;
    box-shadow: none !important;
}
.customForm{
    text-align: center;
}
/deep/ .defaultSomeTextStyle{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}