<div class="whitePanel customForm">
  <dx-form
  [(formData)]="_sospensioneParams"
  validationGroup="sospensioneParams"
  [showValidationSummary]="true"
  class="col-6 d-inline-block text-left">
    <dxi-item itemType="group">
      <dxi-item dataField="statoCorrente" [label]="{text: 'Stato corrente'}" [editorOptions]="{ disabled: true }">
          <dxi-validation-rule type="required" message="Occorre prima selezionare un Iter dalla lista soprastante"></dxi-validation-rule>    
      </dxi-item>
      <dxi-item dataField="statoProssimo" editorType="dxLookup" [editorOptions]="{ 
        items: statiIter,  
        selectionMode: 'single',
        showPopupTitle: false,
        showCancelButton: false,
        searchEnabled: false }" 
        ngClass= "width100">
          <dxi-validation-rule type="required" message="Lo stato prossimo è obbligatorio"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="dataCambioDiStato" editorType="dxDateBox" [label]="{text: 'Data cambio di stato'}" [editorOptions]="{ displayFormat: 'dd/MM/yyyy' }">
        <dxi-validation-rule type="required" message="La data di cambio di stato è obbligatoria"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="note" editorType="dxTextArea" [label]="{text: 'Note'}" [editorOptions]="{ disabled: false }"></dxi-item>
    </dxi-item>
  </dx-form>

  <br/>  
  <div class="buttons col-6 text-right d-inline-block">
    <dx-button text="Annulla" [type]="'normal'">
    </dx-button>
    <dx-button text="Salva" [useSubmitBehavior]="true" validationGroup="sospensioneParams" (click)="handleSubmit($event)">
    </dx-button>
  </div>
</div>
