<div>
  <dx-form
  [(formData)]="_sospensioneParams"
  validationGroup="sospensioneParams"
  [showValidationSummary]="true"
  >

  <dxi-item *ngIf="isOpenedAsPopup" itemType="group" [colCount]="3001" [label]="{text: 'Documento'}">
    <dxi-item itemType="empty" [colSpan]="1"></dxi-item>
    <dxi-item dataField="codiceRegistroDocumento" [colSpan]="1000" [label]="{text: 'Reg.', showColon: false}" [editorOptions]="{ disabled: docFieldDisabled }">
      <dxi-validation-rule type="required" message="Il registro del documento è obbligatorio"></dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="numeroDocumento" [colSpan]="1000" [label]="{text: 'N.', showColon: false}" [editorOptions]="{disabled: docFieldDisabled }">
      <dxi-validation-rule type="required" message="Il numero del documento è obbligatorio"></dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="annoDocumento" editorType="dxNumberBox" [colSpan]="1000" [label]="{text: 'Anno', showColon: true}" [editorOptions]="{disabled: docFieldDisabled }">
      <dxi-validation-rule type="required" message="L'anno del documento è obbligatorio"></dxi-validation-rule>
    </dxi-item> 
  </dxi-item>  

    <dxi-item itemType="group">
      <dxi-item dataField="statoCorrente" [label]="{text: 'Stato corrente'}" [editorOptions]="{ disabled: true }">
          <dxi-validation-rule type="required" message="Occorre prima selezionare un Iter dalla lista soprastante"></dxi-validation-rule>    
      </dxi-item>
      <dxi-item dataField="statoProssimo" editorType="dxLookup" [editorOptions]="{ 
        items: statiIter,  
        selectionMode: 'single',
        showPopupTitle: false,
        showCancelButton: false,
        searchEnabled: false }" 
        ngClass= "width100">
          <dxi-validation-rule type="required" message="Lo stato prossimo è obbligatorio"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="dataCambioDiStato" editorType="dxDateBox" [label]="{text: 'Data cambio di stato'}" [editorOptions]="{value:dataIniziale, displayFormat: 'dd/MM/yyyy' }">
        <dxi-validation-rule type="required" message="La data di cambio di stato è obbligatoria"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="note" editorType="dxTextArea" [label]="{text: 'Note'}" [editorOptions]="{ disabled: false }"></dxi-item>
    </dxi-item>
  </dx-form>

  <br/>  
  <div class="buttons text-center">
    <dx-button text="Annulla" [type]="'normal'" (click)="handleAnnulla($event)">
    </dx-button>
    <dx-button text="Procedi" [useSubmitBehavior]="true" validationGroup="sospensioneParams" (click)="handleSubmit($event)">
    </dx-button>
  </div>

  <dx-popup
  class="popup"
  [width]="700"
  [height]="650"
  [showTitle]="true"
  [title]="'Riassunto operazioni'"
  [dragEnabled]="false"
  [closeOnOutsideClick]="false"
  [(visible)]="showPopupRiassunto">
  <div *dxTemplate="let data of 'content'">
      <h3>Dati del documento</h3>
      <dx-form
      [readOnly]="true"
      [formData]="_sospensioneParams"
      [colCount]="1">
      <dxi-item dataField="codiceRegistroDocumento" >
          <dxo-label text="Registro"></dxo-label>
      </dxi-item>
      <dxi-item dataField="numeroDocumento">
          <dxo-label text="Numero"></dxo-label>
      </dxi-item>
      <dxi-item dataField="annoDocumento">
          <dxo-label text="Anno"></dxo-label>
      </dxi-item>  
      </dx-form>

      <h3 class="mt-4">Dati dell'iter</h3>
      <dx-form
      [readOnly]="true"
      [formData]="_sospensioneParams"
      [colCount]="1">
        <dxi-item dataField="numeroIter" >
            <dxo-label text="Numero"></dxo-label>
        </dxi-item>
        <dxi-item dataField="annoIter" >
            <dxo-label text="Anno"></dxo-label>
        </dxi-item>
        <dxi-item dataField="statoCorrente" ></dxi-item>
        <dxi-item dataField="statoProssimo"></dxi-item>
        <dxi-item dataField="dataCambioDiStato" editorType="dxDateBox" [editorOptions]="{ displayFormat: 'dd/MM/yyyy' }"></dxi-item>
        <dxi-item dataField="note" editorType="dxTextArea"></dxi-item>
      </dx-form>
      <div class="text-center">
          <dx-button class="d-inline-block" text="Chiudi" (click)="handleRiassunto($event)"></dx-button>
      </div>
      
  </div>
</dx-popup>

<dx-popup
class="popup"
[width]="425"
[height]="200"
[showTitle]="true"
[title]="'Avviso'"
[dragEnabled]="false"
[closeOnOutsideClick]="false"
[(visible)]="showPopupAnnullamento">
  <div *dxTemplate="let data of 'content'">
      <h3>Le modifiche non verranno salvate. Ok?</h3> 
      <div class="text-center mt-4">
          <dx-button class="d-inline-block" text="No" (click)="handleAnnulla($event)"></dx-button>
          <dx-button class="d-inline-block" text="Si" (click)="handleClose($event)"></dx-button>
      </div>
  </div>
</dx-popup>
</div>
