<div>
  <dx-form
  [(formData)]="_sospensioneParams"
  validationGroup="sospensioneParams"
  [showValidationSummary]="true"
  >

  <dxi-item *ngIf="isOpenedAsPopup" itemType="group" [colCount]="3001" [label]="{text: 'Documento'}">
    <dxi-item itemType="empty" [colSpan]="1"></dxi-item>
    <dxi-item dataField="codiceRegistroDocumento" [colSpan]="1000" [label]="{text: 'Reg.', showColon: false}" [editorOptions]="{ disabled: docFieldDisabled }">
      <dxi-validation-rule type="required" message="Il registro del documento è obbligatorio"></dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="numeroDocumento" [colSpan]="1000" [label]="{text: 'N.', showColon: false}" [editorOptions]="{disabled: docFieldDisabled }">
      <dxi-validation-rule type="required" message="Il numero del documento è obbligatorio"></dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="annoDocumento" editorType="dxNumberBox" [colSpan]="1000" [label]="{text: 'Anno', showColon: true}" [editorOptions]="{disabled: docFieldDisabled }">
      <dxi-validation-rule type="required" message="L'anno del documento è obbligatorio"></dxi-validation-rule>
    </dxi-item> 
  </dxi-item>  

    <dxi-item itemType="group">
      <dxi-item dataField="codiceStatoCorrente" [label]="{text: 'Stato corrente'}" editorType="dxLookup"  [editorOptions]="{ disabled: true,
        dataSource: dataSourceStati,
        displayExpr: 'descrizione',
        displayValue: 'codice',
        valueExpr: 'codice' }">
          <dxi-validation-rule type="required" message="Occorre prima selezionare un Iter dalla lista soprastante"></dxi-validation-rule>    
      </dxi-item>
      <!-- items: statiIter-->
      <!-- l'*NGIF qua sotto ci vuole perchè la lookup è basta su un array che viene popolato solo al ritorno dalla chiamata 
        nel frattempo però le proprietà vengono valorizzate (a null come il value ad esempio) e una volta finita la chiamata viene popolato
        correttamente l'array ma il valore di default (della lookup non di codiceStatoProssimo) rimane null finchè 
        l'utente non seleziona manualmante un valore dalla lookup, ma visto che la lookup è stata resa non editabile, l'utente
        non riesce a vedere lo stato dentro codiceStatoProssimo e nemmeno a selezionare una voce dalla lookup.
      -->
      <dxi-item *ngIf="statiIter && statiIter.length > 0" dataField="codiceStatoProssimo" [label]="{text: 'Prossimo stato'}" editorType="dxLookup" [editorOptions]="{
        disabled: true, 
        items: statiIter,
        selectionMode: 'single',
        showPopupTitle: false,
        closeOnOutsideClick: 'true',
        showCancelButton: false,
        placeholder: 'Seleziona il prossimo stato',
        searchEnabled: false,
        displayExpr: 'descrizione',
        displayValue: 'codice',
        valueExpr: 'codice',
        value: codiceStatoProssimo
      }"
        ngClass= "width100">
          <dxi-validation-rule type="required" message="Lo stato prossimo è obbligatorio"></dxi-validation-rule>
      </dxi-item>
      <dxi-item *ngIf="_sospensioneParams.numeroDocumento" dataField="dataCambioDiStato" editorType="dxDateBox" [label]="{text: 'Data cambio di stato'}" [editorOptions]="{value:dataIniziale, displayFormat: 'dd/MM/yyyy',
      onValueChanged: reimpostaDataIniziale, dateOutOfRangeMessage: 'Il valore è fuori dall\'intervallo' }">
        <dxi-validation-rule type="required" message="La data di cambio di stato è obbligatoria"></dxi-validation-rule>
        <dxi-validation-rule type="custom" [validationCallback]="validaData" message="La data non può essere minore della data di apertura iter o di registrazione del documento"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="note" editorType="dxTextArea" [label]="{text: 'Note'}" [editorOptions]="{ disabled: false }"></dxi-item>
      <dxi-item *ngIf="_sospensioneParams.codiceStatoProssimo === 'CHIUSO'" dataField="esito" editorType="dxLookup" [label]="{text: 'Esito'}" [editorOptions]="{ 
        disabled: false,
        items: arrayEsiti,
        displayExpr: 'descrizione',
        displayValue: 'codice',
        valueExpr: 'codice',
        selectionMode: 'single',
        showPopupTitle: false,
        closeOnOutsideClick: true,
        showCancelButton: false,
        placeholder: 'Seleziona esito',
        searchEnabled: false
      }">
    </dxi-item>
      <dxi-item *ngIf="_sospensioneParams.codiceStatoProssimo === 'CHIUSO'" dataField="esitoMotivazione" editorType="dxTextArea" [label]="{text: 'Motivazione'}" [editorOptions]="{ disabled: false }"></dxi-item>
    </dxi-item>
  </dx-form>

  <br/>  
  <div class="buttons text-center">
    <dx-button text="Annulla" [type]="'normal'" (onClick)="handleAnnulla($event)">
    </dx-button>
    <dx-button text="Procedi" [useSubmitBehavior]="true" validationGroup="sospensioneParams" (onClick)="handleSubmit($event)">
    </dx-button>
  </div>

  <!-- <dx-popup
  class="popup"
  [width]="700"
  [height]="'auto'"
  [showTitle]="true"
  [title]="'Riassunto operazioni'"
  [dragEnabled]="false"
  [closeOnOutsideClick]="false"
  [(visible)]="showPopupRiassunto">
  <div *dxTemplate="let data of 'content'">
      <ul>
        <li *ngFor="let row of arrayRiassunto">
          <span>{{row.descrizione}}: </span><span>{{row.valore}}</span>
        </li>
      </ul>
      <div class="text-center">
          <dx-button class="d-inline-block" text="Chiudi" (click)="handleRiassunto($event)"></dx-button>
      </div>
      
  </div>
</dx-popup> -->

<popup [arrayRiassunto]="arrayRiassunto" [showPopup]="showPopupRiassunto" (out)="handleRiassunto($event)"></popup>

<dx-popup
class="popup"
[width]="425"
[height]="200"
[showTitle]="true"
[title]="'Avviso'"
[dragEnabled]="false"
[closeOnOutsideClick]="false"
[(visible)]="showPopupAnnullamento">
  <div *dxTemplate="let data of 'content'">
      <h3>Le modifiche non verranno salvate. Ok?</h3> 
      <div class="text-center mt-4">
          <dx-button class="d-inline-block" text="No" (click)="handleAnnulla($event)"></dx-button>
          <dx-button class="d-inline-block" text="Si" (click)="handleClose($event)"></dx-button>
      </div>
  </div>
</dx-popup>
</div>
