/* #testata{
    padding: 10px;
    display: block !important;
    background-color:  #FFC057 !important;
    font-size: 40px !important;
} */

/* .td-home {
    padding: 10em; 
    padding-left: 50em
} */
/* 
$primaryColor: #eeffcc; */

/* @media screen and (min-width: 1880px) {
    .dx-responsive-box{
       size: 80% !important;
   }
}

@media screen and (min-width: 1692px) {
    .dx-responsive-box{
       font-size: 60% !important;
   }
}

 */



.title-home h1 {
    text-align: center;
}