<div style="position: absolute; z-index: 2;
  top: 10%; left: 5%">

    <table>
      <tr>
          <td><h4>UTENTE</h4></td>
          <td>&emsp;&emsp;</td>
          <td><h4>{{username}}</h4></td>
      </tr>
      <tr>
        <td><h4>RUOLO</h4></td>
        <td>&emsp;&emsp;</td>
        <td><h4>{{ruolo.titolo}}</h4></td>
      </tr>
      <tr>
        <td><h4>AZIENDA</h4></td>
        <td>&emsp;&emsp;</td>
        <td><h4>{{azienda.nome}}</h4></td>
      </tr>
      <tr>
        <td><h4>STRUTTURE</h4></td>
        <td>&emsp;&emsp;</td>
        <td style="width: 100%">
          <h4>{{struttureDiSeguito}}</h4>
        </td>
      </tr>
    </table>
</div>


<a routerLink="../definizione-tipi-procedimento" routerLinkActive="active" alt="CLICCATE">
  <div dx-responsive-box id="resposiveBox">    

    <div style=" position: absolute; display: flex; align-self: center; margin-bottom: 3%;
      color:#993366; text-align: center; text-decoration-style: solid;text-decoration-color:black; text-indent: 50px;">
      <h1 style="font-size:6000%; font-weight: bolder;" >Gipi</h1>
    </div>

    <div style="position: absolute; display: flex; align-self: center; margin-top: 7%; margin-left:20% ;color:grey; 
      text-align: center; text-decoration-style: solid;text-decoration-color:black; text-indent: 50px;">
      <h1 style="font-size:4000%;font-weight: bold">GiPi</h1>
    </div>

    <div style="position: absolute; display: flex; align-self: center; margin-top:15%; margin-left:35%; color:#FFC057; 
      text-align: center; text-decoration-style: solid;text-decoration-color:black;">
      <h1 style="font-size:2000%;" >GiPi</h1>   
    </div> 

  </div>
</a>

