.dx-row .dx-data-row .dx-column-lines{
    height: 250px !important;
}

.dx-datagrid{
    margin: 0px !important;
    width: auto !important;
    align-content: center;
}

.whitePanel{
    margin: 0px !important;
    align-content: center;
}