/deep/ .clModDocIter .gridContainerDiv{
    height: 206px !important;    
}
/deep/ .clModDocIter .gridContainerDiv dx-data-grid{
    height: 206px !important;
}

div.radio {
    font-size: 18px;
}

dx-select-box.combobox{
    margin: auto;
    width: 50%;
    text-align: center;
}